@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  /* background-color: black; */
  /* color: white; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  display: flex;
  padding: 0;
  /* place-items: center; */
  /* min-width: 320px; */
  /* min-height: 100vh; */
}

#app {
  /* max-width: 1280px; */
  margin: 0;
  padding: 0;
}
